@tailwind base;

a,
/* a:visited, */ /* breaks the link buttons style */
a:active {
  color: #000;
  text-decoration: underline;
}

a:hover {
  color: #718096;
  text-decoration: underline;
}

@tailwind components;
@tailwind utilities;

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
